<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Todo list</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <div id="app" class="container">

            <div class="logo">
                <img src="./img/logo.png" alt="">
            </div>

            <!-- 

                form.addEventListener('submit', function(event) {
                    event.preventDefault();

                    addTodo();
                });

             -->

            <div class="new-task">
                <form action="" @submit.prevent="addTodo()">
                    <input type="text" v-model="newTodo" required minlength="4" placeholder="Nuova task">
                    <button>
                        Aggiungi
                    </button>
                </form>

                <!-- <input type="text" v-model="newTodo" placeholder="Nuova task">
                <button @click="addTodo()">
                    Aggiungi
                </button> -->
            </div>

            <div class="tasks-container">
                <!-- <ul v-show="todos.length > 0"> -->
                <ul v-if="todos.length > 0">
                    <li class="task" v-for="(element, index) in todos">
                        {{ element }}

                        <i class="fas fa-times" @click="removeTodo(index)"></i>
                    </li>
                </ul>
                <!-- <h2 v-show="todos.length == 0"> -->
                <h2 v-else>
                    Super produttivo! Hai completato tutti i task
                </h2>
            </div>
            
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>

</html>