<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Todo list</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <div id="app" class="container">

            <div class="logo">
                <img src="./img/logo.png" alt="">
            </div>

            <div class="new-task">
                <!-- Versione con form -->
                <!-- <form action="" @submit.prevent="addTodo()">
                    <input type="text" v-model="newTodo" required minlength="4" placeholder="Nuova task">
                    <button>
                        Aggiungi
                    </button>
                </form> -->

                <!-- Versione senza form -->
                <input type="text" @keyup.enter="addTodo()" v-model="newTodo" placeholder="Nuova task">
                <button @click="addTodo()">
                    Aggiungi
                </button>
            </div>

            <div class="tasks-container">
                <ul>
                    <!-- 1a versione -->
                    <!-- <li class="task" v-for="todo in todos" :class="checkDone(todo)"> -->
                        
                    <!-- 2a versione -->
                    <!-- <li class="task" v-for="singleTodo in todos" :class="{
                        'todo-done': singleTodo.done
                    }"> -->
                        
                    <!-- 3a versione -->
                    <!--
                        OPERATORE TERNARIO
                        Q ? X : Y
                        Q => condizione da verificare
                        X => cosa succede nel caso in cui la condizione sia vera (true)
                        Y => cosa succede nel caso in cui la condizione sia false (false)
                    -->
                    <li class="task" v-for="(singleTodo, i) in todos" @click="singleTodo.done = !singleTodo.done">
                        <span :class="singleTodo.done ? 'todo-done' : ''">
                            {{ singleTodo.text }}
                        </span>

                        <i class="fas fa-times" @click.stop="removeTodo(i)"></i>
                    </li>
                </ul>
            </div>
            
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>

</html>